button{
    background-color: #FF5F1F;
    font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
    border: 2px solid;
    border-color: black;
    font-size: 18px;
    color: aliceblue;
    width: 78px;
    height: 34px;
    border-radius: 16px;
}
button:hover{
    background-color: white;
    color: #FF5F1F !important;
}
.assistant{
    font: bold 50% 'trebuchet ms',helvetica,sans-serif;
    font-size: 18px;
    padding-top: 10px;
}
.assistant:hover{
    color:  #FF5F1F !important;
}
.home{
    font: bold 50% 'trebuchet ms',helvetica,sans-serif;
    font-size: 18px;
    padding-top: 10px;
}
.home:hover{
    color:  #FF5F1F !important;
}
.cinecraft{
    font: bold 50% 'trebuchet ms',helvetica,sans-serif;
    font-size: 18px;
    padding-top: 10px;
}